body{
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  margin-top: 15px;
  background-color: white;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.head > span{
  font-weight: bold;
  color: white;
  padding: 7px 10px;
  background-color: orange;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.head{
  text-align: center;
  margin-bottom: 10px;
}
.head > div{
  margin-top:10px ;
}
.picture{
  display: grid;
  grid-template-rows: repeat(2,400px);
  grid-template-columns: repeat(4,300px);
  
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.picture >div{
  margin: 10px;
}

img{
  object-fit: cover;
  width: 300px;
  height: 400px;
}
.picture > div:hover{
  opacity: 0.8;
  position: relative;

}
.explain{
  position: absolute;
}

