.container1{
  width: 100vW;
  height: 300px;
  background-color: #01204E;
  text-align: center;
}

.header1{
  width: 100%;
  height: 10%;
  background-color: #F6DCAC;
}
.main1{
  display: flex;
  height: 80%;
  background-color: #028391;
  overflow: hidden;
}

.main1 > div:nth-child(1){
  width: 20%;
  background-color: #f3700c;
  float: left;
  flex-basis: 20%;
}
.main1 > div:nth-child(2){
  width: 80%;
  background-color: #FEAE6F;
  float: left;
  flex-basis: 80%;
}

.footer1{
  width: 100%;
  height: 10%;
  background-color: brown;
}
/* 2번째 */

.container2{
  width: 100vw;
  height: 300px;
  border: 1px solid black;
  text-align: center;
}
.container2 > div{
  display: flex;
}

.container2 >div:nth-child(1){
  height: 20%;
}
.header2 > div:nth-child(1){
  background-color: gray;
  flex-basis: 60%;
}
.header2 > div:nth-child(2){
  background-color: green;
  flex-basis: 40%;
}
.container2 >div:nth-child(2){
  height: 60%;
}
.main2 > div:nth-child(1){
  background-color: red;
  flex-basis: 20%;
}
.main2 > div:nth-child(2){
  background-color: lightgreen;
  flex-basis: 80%;
}
.container2 > div:nth-child(3){
  height: 20%;
}

.footer2 >div:nth-child(1){
  background-color: gray;
  flex-basis: 60%;
}
.footer2 >div:nth-child(2){
  background-color: yellow;
  flex-basis: 40%;
}

/* 3번째 */
.container3{
  border: 1px solid black;
  width: 100vW;
  height: 300px;
  text-align: center;
}
.container3 >div{
  display: flex;
}
.container3 > div:nth-child(1){
  height: 20%;
  background-color: yellow;
}
.main3 {
  height: 80%;
  flex-direction: row;
}
.main3 > div:nth-child(1){
  flex-basis: 60%;
  height: 100%;
  background-color: blue;
}

.main3 > div:nth-child(2){
  background-color:aliceblue;
  flex-basis: 40%;
  height: 100%;
  float: left;
}

.main3 >div:nth-child(2)> div{
  width: 100%;
  flex-direction: column;
  height: 33.3%;
}
.main3 >div:nth-child(2) > div:nth-child(1){
  background-color: red;
}
.main3 >div:nth-child(2) > div:nth-child(2){
  background-color: gray;
}
.main3 > div:nth-child(2) > div:nth-child(3){
  background-color: yellow;
}