.container{
  width: 800px;
  height: 600px;
  margin: 20px auto;
  border: 1px solid black;

  display: grid;
  grid-template-areas: 
  "a a b"
  "c c ."
  "d e e";
}
.container > div{
  border: 1px solid blue;
}

.container > div:nth-child(1){
  grid-area: a;
}
.container > div:nth-child(2){
  grid-area: b;
}
.container > div:nth-child(3){
  grid-area: c;
}
.container > div:nth-child(4){
  grid-area: d;
}
.container > div:nth-child(5){
  grid-area: e;
}