.container{
  width: 800px;
  height: 600px;
  margin: 20px auto;
  border: 1px solid black;

  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3 1fr);

  gap: 20px 10px;
}
.container > div{
  border: 1px solid red;
}
.container > div:first-child{
  /* grid-column-start: 1;
  grid-column-end: 3; */
  /* 한번에 표현하기 =>
    grid-column:1/3; */
}