.container{
  width: 800px;
  height: 600px;
  margin: 20px auto;
  border: 1px solid black;

  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 100px);

  align-content: center;
  justify-content: center;

  justify-items:center;
  align-items: center;
}

  .container > div{
    border: 1px solid blue;
  } 
  .container > div:last-child{
    justify-self: stretch;
    align-self: stretch;
  }