.img-div{
  background-color: lightgray;
  position: relative;
}

.img-div img{
  border: 1px solid orange;
  border-radius: 50%;
  position: absolute;
}

.img-div img:nth-child(1){
  left:0px;
  z-index: 3;
}
.img-div img:nth-child(2){
  left:40px;
  z-index: 2;
}
.img-div img:nth-child(3){
  left:80px;
  z-index: 1;
}