table{
  margin: 30px auto;
  width: 600px;
  height: 280px;
  text-align: center;
  line-height: 40px;
}
thead > tr{
  border-bottom: 2px solid black;
  border-top: 1px solid black;
}
tbody> tr{
  border-bottom: 1px solid black;
  font-size: 0.8rem;
}
td{
  padding: 0px 10px;
}
tbody> tr >td:nth-child(2){
  text-align: left;
  padding: 0px 20px;
}
tbody>tr:hover{
  background-color: gray;
}

thead{
  background-color: cornflowerblue;
  color: white;;
}
.gray{
  background-color: lightgray;
}

