/* 
태그의 너비는 기본적으로
width + padding + border의 합 */

.p1{
  /* 테두리 */
  border: 2px dashed black;

  /* 바깥 여백 */
  margin: 30px;

  /* 안쪽 여백 */
  padding: 20px;
}

.p2{
  border: 3px solid crimson;
  margin-left: 30px;
  padding-top: 20px;
}

.p3{
  border: 1px dotted blue;

  /* px 4개: 12시부터 시계방향 순 너비 조정(margin도 해당)
     px 2개 : 상하, 좌우  너비 조정 */
  padding: 5px 10px 15px 20px;
  margin: 50px 20px;
}

.p4{
  border: 1px solid black;

  /* 너비, 높이 조정*/
  width: 200px;
  height: 150px;
}

.a1{
  border: 1px solid black;
  width: 100px; 
  height: 100px;
  margin: 50px 50px;
}