body{
  margin: 0;
}

h3{
  padding: 0px;
  margin: 0px;
}
.content{
  background-image:url('배경.jpg');
  background-repeat: no-repeat;
  /* 
  cover : 영역에 여백없이 꽉 채움
          이미지의 비율은 유지
  */
  background-size: cover;
  width: 100vw;
  height: 90vh;
}
