.u1{
  background-color: lightseagreen;
  padding: 10px;
}

/* li{
  background-color: aquamarine;
  margin: 10px;
} */

/* 자식 선택자 */
/* u1이라는 클래스 안의 자식 li 태그들 */
.u1 > li{
  background-color: aquamarine;
  margin: 10px;
}

/* d1 클래스를 가진 태그의 자식 중 div 태그만 선택 */
.d1 > div{
  background-color: beige;
}

/* d1 클래스를 가진 태그의 자식 중 div 태그만 선택 */
.d1 > span{
  background-color: brown;
}

/* 자손 선택자 (하위 선택자) */
.d1 div{
color: coral;
}

/* ul 태그 안의 test라는 클래스를 자닌 자식에서 자손(하위) div 전체 선택 */
ul > .test div{}

/* .u2 > li:first-child{
  color: blue;
}
.u2 > li:last-child{
  color: rebeccapurple;
} */

.u2 > li:nth-child(odd){
  color: green;
}