body{
  background-color: rgb(177, 178, 243);
}
.container{
  width: 700px;
  margin: 50px auto;
}
.tab-btn{
  display: flex;
  gap: 1px;
}
.tab-btn a{
  background-color: black;
  color: white;
  text-align: center;
  width: 150px;
  padding: 10px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;
  border-top: 2px solid black;
}
.tab-btn a:hover{
  color: lightskyblue;
}
.tab-content{
  position: relative;
  width: 603px;
}
.tab-item{
  position: absolute;
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  background-color: lightgray;
  padding: 20px;
  transition: all 0.5s;
}
.tab-item:target{
  opacity: 1;
  visibility: visible;
  /* display: block; */
}

/* a 태그 중의 show 클래스 선택 */
a.show{
  background-color: lightgray;
  color: black;
  border-top: 2px solid black;
}