/*크기단위
  px : 기본(deafult) 16px
  % : 100% -> 16px
  em
  rem : 1rem -> 16px
        2rem -> 32px
        0.5rem -> 8px
*/

/* 색상
  1. 정해진 문자 사용(red, blue)
  ex) color : red;
  2. RGB
  ex) color : #000000; (빨걍 #ff0000, 초록 #00ff00, 파랑 #0000ff) 
      color : rgb(255, 255, 255)
      color : rgba(0, 0, 255, 0~1) a-> alpha-> 투명도
   */
#c_1{
  color: #999999;
}
#c_2{
  color:rgb(255,0,0);
}
#c_3{
  color:rgba(0, 0, 255, 0.5);
}

.p1{
  /* 기본 폰트 사이즈 : 16px */
  font-size: 20px;

  /* 폰트 굵기 400: normal, 700:bold*/
  font-weight: bold;
  font-style: italic;

  /* 줄 간격 */
  line-height: 40px;

  /* 글자 가로 정렬 */
  text-align: center;
}

.p2{
    color: blue;
    /* 글자꾸밈 */
    text-decoration:underline;

    /* 자간 지정 */
    letter-spacing: 5px;
}

a{
  text-decoration:none;
  color: black;
}

