body{
  margin: 0px;
}
div{
  border: 1px solid black;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
}

.d1{
  background-color: aqua;
}
.d2{
  background-color: aquamarine;
  position: absolute;
  top: 50px;
  left: 50px;
}