.container{
  width: 1300px;
  margin: auto;
}
table{
  width: 100%;
}
table,tr,td{
  border-collapse: collapse;
  border: 1px solid gray;
}

.title_1{
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
}
.red{
  color: red;
}
.body{
  margin-top: 50px;
  margin-bottom: 50px;
}
table > tbody > tr > td:first-child{
  padding: 10px 20px 10px 30px;
}
table > tbody > tr > td:nth-child(2){
  padding: 10px 10px 10px 10px;
}
.head{
  width: 150px;
  background-color: rgb(236, 234, 234);
}

.margin{
  margin-right: 5px;
  width: 60px;
}
.sbox{
  width : 70px
}

.ssbox{
  width: 50px;
}