<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <table border="1">
      <tr>
        <td>글번호</td>
        <td>[[${board.boardNum}]]</td>
        <td>조회수</td>
        <td>[[${board.readCnt}]]</td>
      </tr>
      <tr>
        <td>작성일</td>
        <td>[[${board.createDate}]]</td>
        <td>작성자</td>
        <td>[[${board.writer}]]</td>
      </tr>
      <tr>
        <td>제목</td>
        <td colspan="3">[[${board.title}]]</td>
      </tr>
      <tr>
        <td>내용</td>
        <td colspan="3">[[${board.content}]]</td>
      </tr>
    </table>
  </div>
  <div>
    <input type="button" value="목록가기1" onclick="test1()">
    <input type="button" value="목록가기2" onclick="test2()">
    <input type="button" value="삭제"
     th:onclick="goDelete([[${board.boardNum}]])">
  </div>

  <script>
    function goDelete(boardNum){
      location.href=`/delete?boardNum=${boardNum}`;
    }
    function test1(){
      history.back(-1);
    }
    function test2(){
      location.href = '/list';
    }
  </script>
</body>
</html>