<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table>
    <tr>
      <td>글번호</td>
      <td>[[${board.boardNum}]]</td>
      <td>조회수</td>
      <td></td>
    </tr>
    <tr>
      <td>작성일</td>
      <td></td>
      <td>작성자</td>
      <td></td>
    </tr>
    <tr>
      <td>제목</td>
      <td colspan="3"><input type="text"></td>
    </tr>
    <tr>
      <td>내용</td>
      <td colspan="3"><input type="text"></td>
    </tr>
  </table>
</body>
</html>