<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- mapper 태그 안의 namespace가 비어있으면 실행 시 html 페이지 오류 -->
<!-- namespace는 mapper 파일에 가명(별명)을 부여하는 것 -->
<mapper namespace="memberMapper">

    <!--  회원 등록 쿼리  -->
    <insert id="insertMember">
        INSERT INTO TEST_MEMBER (
            MEM_NUM
            , MEM_NAME
            , MEM_AGE
            , MEM_ADDR
        ) VALUES (
            #{memNum}
            , #{memName}
            , #{memAge}
            , #{memAddr}
        );
    </insert>
</mapper>



























