<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/regStu" method="post">
    <div class="container">
      <div>
        학번 <input type="text" name="stuNumber"> <br>
        이름 <input type="text" name="stuName"> <br>
        국어점수 <input type="text" name="korScore"> <br>
        영어점수 <input type="text" name="engScore"> <br>
        학생소개 <textarea name="intro" ></textarea>
      </div>
      <div>
        <input type="submit" value="등록완료">
      </div>
    </div>
  </form>
</body>
</html>