<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="scoreMapper">
    <resultMap id="score" type="com.green.DB_Score.vo.ScoreVO">
        <result column="STU_NUM"  property="stuNum"/>
        <result column="STU_NAME"  property="stuName"/>
        <result column="KOR_SCORE"  property="korScore"/>
        <result column="ENG_SCORE"  property="engScore"/>
        <result column="INTRO"  property="intro"/>
    </resultMap>

    <!-- 학생 목록 조회 -->
    <select id="getStuList" resultMap="score">
        SELECT STU_NUM
            , STU_NAME
            , KOR_SCORE
            , ENG_SCORE
        FROM SCORE_INFO;
    </select>

    <insert id="stuReg">
        INSERT INTO SCORE_INFO(
            STU_NUM
            , STU_NAME
            , KOR_SCORE
            , ENG_SCORE
            , INTRO
        )VALUES (
            #{stuNum}
            , #{stuName}
            , #{korScore}
            , #{engScore}
            , #{intro}
        );
    </insert>

    <!-- 상세보기 -->
    <select id="getStuDetail" resultMap="score">
        SELECT STU_NUM
        , STU_NAME
        , KOR_SCORE
        , ENG_SCORE
        , INTRO
        FROM SCORE_INFO
        WHERE STU_NUM = #{stuNum};
    </select>

    <!-- 학생 삭제 -->
    <delete id="getDelete">
        DELETE FROM SCORE_INFO
        WHERE STU_NUM = #{stuNum};
    </delete>

    <!-- 학생 수정 -->

    <update id="getUpdate">
        UPDATE SCORE_INFO
            SET
            STU_NAME = #{stuName}
            , KOR_SCORE = #{korScore}
            , ENG_SCORE = #{engScore}
            , INTRO = #{intro}
        WHERE STU_NUM = #{stuNum};
    </update>


</mapper>































