.container{
  display: flex;
  flex-direction: column;
  width: 100vw;
}
/* ----------------- */
.header{
  margin: auto;
  width: 70vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 150px;
}
ul{
  display: flex;
  width: 50%;
  margin-left: 120px;
}
ul > li{
  font-weight: bolder;
  font-size: 0.8rem;
  color: rgb(97, 96, 96);
  margin: 0px 15px;
}
ul > li:hover{
  color: rgba(255, 145, 0);
  cursor: pointer;
}
ul > li > a{
  text-decoration: none;
  color: rgb(97, 96, 96);
}
ul > li > a:hover{
  color: rgba(255, 145, 0);
}
input{
  border: 1px solid rgb(228, 228, 228);  
  width: 300px;
  height:35px;
}
input:focus{
  outline: none;
  border: 1px solid rgb(228, 228, 228);  
}
.search > i{
  color: rgba(255, 145, 0);
  font-weight: bolder;
  font-size: 0.8rem;
  position: absolute;
  left: 76vw;
  top: 4.2vh;
}
/* ---------------------------------- */
.content1{
  align-content: center;
  text-align: center;
  background-image: url(slide1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center ;
  width: 100%;
  height: 40vh;
  margin-bottom: 30px;
}
.c1_1{
  font-weight: 500;
  color: rgba(255, 145, 0);
  font-size: 3rem;
  margin-bottom: 10px;
}
.c1_2{
  color: white;
  opacity: 70%;
  margin-bottom: 20px;
}
button{
  border: none;
  color: white;
  background-color: rgba(255, 145, 0);
  padding: 8px 50px;
  font-weight: 700;
  font-size: 1.1rem;
}
button:hover{
  cursor: pointer;
}
/* ---------------------------------- */
.under1{
  text-align: center;
  margin: 50px;
}
.under1 > div{
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 10px;
}

/* ------------------------------------ */
.content2{
  display: flex;
  text-align: center;
  width: 62vw;
  margin: auto;
  gap: 5px;
}
.content2 > div{
  display: flex;
  flex-direction: column;
}
.c2{
  padding: 0px 10px;
  margin: 30px 0px;
}
.icon{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.circle{
  border: none;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 145, 0);
}
.circle2{
  border: none;
  border-radius: 100%;
  width: 68px;
  height: 68px;
  background-color: white;
  position: absolute;
}
.icon > div:last-child{
  color:rgba(255, 145, 0) ;
  position: absolute;
  font-size: 1.3rem;
  font-weight: bolder;
}
.c2 > div:nth-child(2){
  font-weight: 600;
  margin: 10px 0px;
}
.c2 > div:nth-child(3){
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(141, 139, 139);
}
/* ------------------------------------ */
.under2{
  text-align: center;
  margin: 50px;
}
.under2 > div{
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 10px;
}
/* ------------------------------------ */
.footer{
  display: flex;
  width: 62vw;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 50px;
}
.footer >div{
 position: relative;
}
.intro{
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 38%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 15px;
}
.intro > div:nth-child(1){
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
}
.intro > div:nth-child(2){
  color: rgba(255, 145, 0);
  font-size: 0.9rem;
}
