.container{
  width: 800px;
  margin: 30px auto;
}

.list-table{
  border:1px solid black;
  width: 100%;
  text-align: center;
}

.list-table tr, .list-table td{
  border: 1px solid black;
}

.list-table td{
  padding: 8px;
}

.btn-div{
  margin-top: 20px;
  text-align: center;
}