<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- thymeleaf 문법 : [[${'name'}]] -->
  <!-- html 문법 : <a href="/a2?'name'=java" -->

  [[${stuName}]], [[${score}]]
  <!-- /a2로 이동 할 때 'java'라는 데이터를 'name'이라는 이름으로 전달 -->
  <a href="/a2?addr=java">
    <h3>두번째 페이지 -></h3>
  </a>
  <br>

  <a href="/a3?name=kim&age=30">
    <h3>세번째 페이지 -></h3>
  </a>
  <br>

  <a th:href="@{/a3(name=${stuName}, age=${score})}">
    <h3>세번째 페이지 -></h3>
  </a>




</body>
</html>