<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/score4" method="post">
    <h2>학생 성적 입력 프로그램</h2>
    [[${Info.name}]] 학생의 성적을 입력합니다. <br>
    <input type="hidden" name="name" th:value="${Info.name}" >
    <input type="hidden" name="grade" th:value="${Info.grade}" >
    <input type="hidden" name="tel" th:value="${Info.tel[0]}" >
    <input type="hidden" name="tel" th:value="${Info.tel[1]}" >
    <input type="hidden" name="gender" th:value="${Info.gender}" >
    국어 <input type="text" name="korean"> <br>
    영어 <input type="text" name="english"> <br>
    수학 <input type="text" name="math"> <br>
    <input type="submit" value="확인">
  </form>
</body>
</html>