<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table border="1">
    <tr>
      <td>학번</td>
      <td>[[${student.stuNum}]]</td>
      <td>이름</td>
      <td>[[${student.stuName}]]</td>
    </tr>
    <tr>
      <td>국어점수</td>
      <td>[[${student.korScore}]]</td>
      <td>영어점수</td>
      <td>[[${student.engScore}]]</td>
    </tr>
    <tr>
      <td>자기소개</td>
      <td colspan="3">
        [[${student.intro}]]
      </td>
    </tr>
  </table>
  <div>
    <input type="button" value="학생삭제" th:onclick="goDelete([[${student.stuNum}]])">
    <input type="button" value="학생수정" th:onclick="goUpdateForm([[${student.stuNum}]])">
  </div>

  <script>
    function goDelete(stuNum){
        location.href= `/deleteForm?stuNum=${stuNum}`;
    }
    function goUpdateForm(stuNum){
      location.href = `/updateForm?stuNum=${stuNum}`
    }
  </script>
</body>
</html>