<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/updateStu" method="post">
    <input type="hidden" name="stuNum" th:value="${student.stuNum}">
    <table>
      <tr>
        <td>학번</td>
        <td>[[${student.stuNum}]]</td>
        <td>이름</td>
        <td><input type="text" name="stuName" th:value="${student.stuName}"></td>
      </tr>
      <tr>
        <td>국어점수</td>
        <td><input type="text" name="korScore" th:value="${student.korScore}"></td>
        <td>영어점수</td>
        <td><input type="text" name="engScore" th:value="${student.engScore}"></td>
      </tr>
      <tr>
        <td>자기소개</td>
        <td colspan="3">
          <textarea name="intro">[[${student.intro}]]</textarea>
        </td>
      </tr>
    </table>
    <input type="submit"value="수정하기">
  </form>
</body>
</html>